
{% for model in models %}
@class {{ model.name }};
{%- endfor %}

{% for model in models %}
@interface {{model.name}} : NSObject
{% for p in model.properties %}
{% include 'objc-prop-header.template' %}
{% endfor %}
@end

{% endfor %}
