
{% for model in models %}

@implementation {{model.name}} 

+ (NSDictionary *)mj_objectClassInArray {
    return @{ 
        {% for p in model.properties -%}
        {% if p.type == 'NSArray' -%}
            @"{{p.name}}": @"{{p.item_type}}",
        {% endif -%}
        {% endfor -%}
    };
}

@end

{% endfor %}
